@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #374151;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

header {
  height: 8dvh;
}

#accueil {

}

.headings {
  width: 100%;
  top: 30%;
  text-align: center;
}

.headings h1 {
  color: #f1f1f1;
  font-size: 7rem;
  font-weight: 900;
  text-shadow: 0 3px 10px crimson ;
}
.headings h2 {
  color: #f1f1f1;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 0 1px 4px #000000;

}





/* Scrollbar customization */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #40916C;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2D6A4F;
}